body {
  font-family: "Manrope", sans-serif !important;
  background: #f9faff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top_container {
  border-radius: 0px 0px 0px 191.5px;
  background: #f1f5fe;
  width: 100%;
  height: 449px;
  text-align: center;
  border-radius: 0px 0px 0px 191.5px;
  background: #f1f5fe;
  width: 100%;
  height: 449px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}
.top_section {
  position: absolute;
  margin-top: 104px;
}
.main_svg {
  position: absolute;
  right: 121px;
  top: -40px;
}
#main_h1 {
  color: #293356;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 12px;
}
#main_h3 {
  color: #848ead;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main_container {
  width: 540px;
  height: 397px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.15);
  position: absolute;
  margin-top: 266px;
  padding: 40px;
}
.section_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#views {
  color: #848ead;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.price_month {
  color: #293356;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1px;
  align-items: center;
  display: flex;
}
#month {
  color: #848ead;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 8px;
}

.range_Div {
  width: 444px;
  height: 8px;
  border-radius: 9px;
  cursor: pointer;
  position: absolute;
}

input {
  height: 8px;
  width: 444px;
  margin-top: 32px;
  outline: none;
  background-color: #fbf2ec;
  position: relative;
  background: linear-gradient(
    to right,
    hsl(174, 77%, 80%) 0%,
    hsl(174, 77%, 80%) 50%,
    hsl(224, 65%, 95%) 50%,
    hsl(224, 65%, 95%) 100%
  );
}
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 8px;

  border-radius: 9px;

  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;

  border-radius: 9px;

  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;

  border-radius: 9px;

  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;

  border-radius: 9px;

  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 40px;
  height: 40px;
  margin-top: calc(((40px - 8px) / 2) * -1);

  background-color: hsl(174, 86%, 45%);
  background-image: url("./images/icon-slider.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: 0px 17px 17px 7px rgba(0, 255, 231, 0.3);
}

input[type="range"]::-webkit-slider-thumb:active {
  background-color: #0caa9b;
}

input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  margin-top: calc(((40px - 8px) / 2) * -1);
  background-color: hsl(174, 86%, 45%);
  background-image: url("images/icon-slider.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 100%;
}

input[type="range"]::-moz-range-thumb:active {
  background-color: #0caa9b;
}

.section_2 {
  display: flex;
  margin-top: 58px;
}
.green_measureSvg {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 45px;
  gap: 16px;
  margin-left: 75px;
}
#Billing {
  color: #848ead;
  text-align: center;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#discount {
  color: #ff8d68;
  text-align: center;
  color: #ff8d68;
  text-align: center;
  font-family: Manrope;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 80px;
  height: 19px;
  flex-shrink: 0;
  border-radius: 9.5px;
  background: #feede8;
  align-items: center;
  display: flex;
  justify-content: center;
}
#discount span {
  margin-left: 3px;
}

.line {
  width: 100%;
  height: 1px;
  background: #ecf0fb;
  margin-top: 45px;
}

.section_4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}
.bonusapproved,
.bonusapproved2,
.bonusapproved3 {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 11px;
  color: #848ead;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Startmy_trial {
  width: 170px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 20.5px;
  background: #293356;
  color: #becdff;
  text-align: center;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 44px;
  margin-top: 10px;
}
.Startmy_trial:hover {
  color: #fff;
  cursor: pointer;
}
#my_svg {
  cursor: pointer;
}

#svgDiv {
  width: 43px;
  height: 22px;
  background: #cfd8ef;
  border-radius: 15px;
  display: flex;
  align-items: center;
  z-index: 2;
}
#circle {
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  margin: 0 4px;
}

@media screen and (max-width: 768px) {
  #main_h1 {
    font-size: 20px;
  }
  #main_h3 {
    font-size: 13px;
  }
  .main_container {
    flex-direction: column;
    display: flex;
    width: 327px;
    height: 478px;
  }
  #views {
    font-size: 12px;
  }
  input[type="range"] {
    width: 279px;
    height: 8px;
  }
  #price {
    font-size: 32px;
  }
  #month {
    font-size: 14px;
  }

  #discount {
    width: 41px;
    height: 19px;
    border-radius: 9.5px;
    font-size: 10px;
  }
  #discount span {
    display: none;
  }
  .section_1 {
    flex-direction: column;
    display: flex;
  }
  .section_2 {
    margin-top: 7px;
  }
  .price_month {
    position: absolute;
    margin-top: 100px;
  }
  .section_3 {
    gap: 10px;
    margin-left: 15px;
    margin-top: 100px;
  }
  .main_container {
    padding: 20px;
  }
  .section_4 {
    flex-direction: column;
    display: flex;
    margin-top: 24px;
  }
  .Startmy_trial {
    margin-left: 0;
    margin-top: 33px;
  }
}
